nav,
button,
#total-calories-text,
.card-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

nav {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  
}

.collection-item {
  font-size: large;
}

#class-container {
  position: relative;
}